@use "global";


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");



* {
  margin: 0%;
  padding: 0%;
  font-family: global.$text2;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: global.$color1;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}